repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: detect-private-key      # check for private keys
  - id: check-added-large-files # prevent commit of files >500kB
    args: ['--maxkb=500']
- repo: local
  hooks:
  - id: pytest-check                     # run all tests
    name: pytest-check
    entry: make test
    language: system
    pass_filenames: false
    stages: [push]
    types: [python]
    file: |
      (?x)^(
          lightly/.*.py|
          tests/.*.py|
      )$
