certifi>=14.05.14
hydra-core>=1.0.0
lightly_utils~=0.0.0
numpy>=1.18.1
python_dateutil>=2.5.3
requests>=2.23.0
six>=1.10
tqdm>=4.44
urllib3 >= 1.25.3
pydantic >= 1.10.5
aenum >= 3.1.11
timm>=0.9.9


#pip uninstall lightning
#pip install pytorch_lightning==1.9.5

#pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128
