name: Discord Release Notification

on:
  release:
    types: [published]

jobs:
  notify-discord:
    runs-on: ubuntu-22.04
    steps:
    - name: Send Notification to Discord
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        RELEASE_BODY: ${{ github.event.release.body }}
        RELEASE_NAME: ${{ github.event.release.name }}
        RELEASE_TAG: ${{ github.event.release.tag_name }}
        RELEASE_URL: ${{ github.event.release.html_url }}
        
      # We truncate the description at <!-- STOP DISCORD MESSAGE --> comment to keep
      # the message short.
      # We have also have to format the release description for it to be valid JSON.
      # This is done by piping the description to jq.
      run: |
          DESCRIPTION=$(echo "${RELEASE_BODY}" | awk '/<!-- STOP DISCORD MESSAGE -->/{exit}1' | jq -aRs .)
          curl -H "Content-Type: application/json" \
               -X POST \
               -d @- \
               "${DISCORD_WEBHOOK}" << EOF
          {
            "username": "Lightly",
            "avatar_url": "https://avatars.githubusercontent.com/u/50146475",
            "content": "Lightly ${RELEASE_TAG} has been released!",
            "embeds": [
              {
              "title": "${RELEASE_NAME}",
              "url": "${RELEASE_URL}",  "color": 5814783,
                "description": $DESCRIPTION
              }
            ]
          }
          EOF
