name: Unit Tests

on: [push]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest


    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Hack to get setup-python to work on nektos/act
      run: |
        if [ ! -f "/etc/lsb-release" ] ; then
          echo "DISTRIB_RELEASE=18.04" > /etc/lsb-release
        fi
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install Dependencies
      run: pip install -e '.[all]'
    - name: Run Pytest
      run: |
        pip install pytest-cov
        python -m pytest -s -v --runslow --cov=./lightly --cov-report=xml --cov-config=lightly/openapi_generated/.coveragerc
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}