name: run unmocked tests
on: [workflow_dispatch]

# Why is this only triggered manually with workflow_dispatch?
# - We have many unittests anyway
# - We ran into quota problems with too many tests (3000mins for the pip package)
# - The tests are unreliable / not deterministic, as they depend on the API from staging
# - The tests take 10mins, which can slow down development

jobs:
  test:
    name: Run unmocked tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.7
    - uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: cache_v2_${{ env.pythonLocation }}-${{ hashFiles('requirements/**') }}
    - name: Install Dependencies and lightly
      run: pip install .
    - name: run unmocked tests
      run: |
        export LIGHTLY_SERVER_LOCATION=${{ secrets.LIGHTLY_SERVER_LOCATION }}
        bash tests/UNMOCKED_end2end_tests/run_all_unmocked_tests.sh ${{ secrets.DUMMY_USER_TOKEN_STAGING }}
