name: check setup.py

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  detect-code-changes:
    name: Detect Code Changes
    runs-on: ubuntu-latest
    outputs:
      run-tests: ${{ steps.filter.outputs.run-tests }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: shell
          filters: |
            run-tests:
              - '!docs/**'

  test:
    name: Test setup.py
    needs: detect-code-changes
    if: needs.detect-code-changes.outputs.run-tests == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Hack to get setup-python to work on nektos/act
        run: |
          if [ ! -f "/etc/lsb-release" ] ; then
            echo "DISTRIB_RELEASE=18.04" > /etc/lsb-release
          fi
      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.7
      - name: Set Up Environment
        run: |
          make install-uv reset-venv
          source .venv/bin/activate
          make install-pinned
      - name: Test CLI
        run: |
          source .venv/bin/activate
          LIGHTLY_SERVER_LOCATION="localhost:-1"
          lightly-crop-deprecated --help
          lightly-train-deprecated --help
          lightly-embed-deprecated --help
          lightly-magic-deprecated --help
          lightly-download --help
          lightly-version
      - name: Test CLI on Dataset
        run: |
          source .venv/bin/activate
          LIGHTLY_SERVER_LOCATION="localhost:-1"
          git clone https://github.com/alexeygrigorev/clothing-dataset-small clothing_dataset_small
          INPUT_DIR_1="clothing_dataset_small/test/dress"
          lightly-train-deprecated input_dir=$INPUT_DIR_1 trainer.max_epochs=1 loader.num_workers=6
          lightly-embed-deprecated input_dir=$INPUT_DIR_1
